@import "./custom_colors";

.notes {
  height: calc(100% - 70px);
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.bm-menu {
  background: white;
  padding-top: 10px;
}

.selected {
  background-color: $custom-grey-light;
  cursor: pointer;
  padding-left: 10px;
}

.notes-list {
  padding-left: 20px;
}

.notes-editor {
  position: fixed;
  padding: 0;
  height: calc(100% - 43px);
  border: none;
  outline: none;

  .quill {
    height: 100%;
  }
}

