@import "./custom_colors";

.users {
  padding-top: 40px !important;

  .card-content {
    padding: 40px;
  }
  .users-edit {
    .title {
      margin-bottom: 15px;
    }
  }
}

.btn-update {
  color: $custom-purple;
  border: 1px solid $custom-purple;
}

.help {
  font-weight: bold;
}